header {
  margin-bottom: 18px;
}

.occurences {
  width: 140px;

  h2 {
    text-align: center;
  }

  small {
    display: block;
  }
}

.well-exception {
  padding: 8px;
  position: relative;

  .message {
    min-height: 54px;
  }

  .actions {
    position: absolute;
    right: 8px;
    bottom: 8px;

    form {
      margin-bottom: 0px;
    }
  }
}
