%header.jumbotron
  %h1
    .pull-right
      = link_to('New Filter', new_filter_url, :class => 'btn btn-success')
    %span.text-quiet Exception /
    %span Filter

.row
  .span12
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th Filtered Parameters
          %th.span1 Actions
      %tbody
        - if Filter.count == 0
          %tr
            %td{colspan: 2}
              No filters registered.
        = render collection
